* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(250, 250, 250, 1);
    font-size: 15px;
}

/* NAVBAR */

nav{
    display: flex;
    background-color: rgba(57, 162, 219, 1);
    justify-content: space-around;
    width: 100%;
    /* padding: 23px 5%; */
    color: rgba(250, 250, 250, 1);
    height: 85px;
    align-items: center;
    font-weight: bold;
}

.logo {
    margin-bottom: 5px;
}

.logo h2 {
    font-weight: bolder;
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: flex;
    list-style: none;
    width: 22%;
    justify-content: space-around;
    align-items: center;
}

nav .page-title {
    margin-left: 100px;
}

nav ul li a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
}

nav ul li a .nav-fc {
    background-color: rgba(7, 57, 68, 1);
    border-style: none;
    color: rgba(250, 250, 250, 1);
    font-weight: bold;
    height: 36px;
    width: 140px;
    cursor: pointer;
    border-radius: 7px;
}

.container {
    width: 100%;
    margin-top: 80px;
}

.box-content {
    width: 75%;
    margin: 0 auto;
    outline: 1px solid rgba(57, 162, 219, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.box-content ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

/* Form Login */
/* .login {
    margin-left: 100px;
} */

.input-email {
    position: relative;
    margin: 50px 0 25px 0;
    font-size: 13px;
}

.input-email label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(171, 171, 171, 1);
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

#email {
    padding: 5px;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 250px;
    font: inherit;
    color: rgba(57, 162, 219, 1);
    background-color: transparent;
    border-bottom: 2px solid rgba(57, 162, 219, 1);
}

.input-email:focus-within label{
    transform: translate(0, -30px) scale(1);
    color: rgba(57, 162, 219, 1);
}

.input-email:focus-within #email {
    outline-color: rgba(57, 162, 219, 1);
}

.input-pass {
    position: relative;
    margin: 50px 0 25px 0;
    font-size: 13px;
}

.input-pass label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(171, 171, 171, 1);
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

#pass {
    padding: 5px;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 250px;
    font: inherit;
    color: rgba(57, 162, 219, 1);
    background-color: transparent;
    border-bottom: 2px solid rgba(57, 162, 219, 1);
}

.input-pass:focus-within label{
    transform: translate(0, -30px) scale(1);
    color: rgba(57, 162, 219, 1);
}

.input-pass:focus-within #pass {
    outline-color: rgba(57, 162, 219, 1);
}

/*Checkbox*/
.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgba(7, 57, 68, 1);
    border-radius: 3px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.15s border-color 0.15s;
}

.checkbox__box::after {
    content: '\2714';
    color: #FAFAFA;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box {
    background: rgba(57, 162, 219, 1);
    border-color: rgba(57, 162, 219, 1);
}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
}

/*Button*/
.sign-button {
    margin-top: 20px;
    background-color: rgba(57, 162, 219, 1);
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-align: left;
    padding-left: 30px;
    border-style: none;
    border-radius: 5px;
    height: 45px;
    width: 250px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.sign-button:hover {
    opacity: 0.8;
}

.signup-text {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: rgba(7, 57, 68, 1);
}

.line {
    border-left: 1.6px solid rgba(57, 162, 219, 1);
    height: 450px;
    /* margin-left: 20px; */
}

.right{
    margin-top: 80px;
    /* margin-right: 120px; */
}
.right img {
    max-width: 320px;
}


/* SKELETON LOADING */

.placeholder {
    position: relative;
}

.placeholder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to right, #999, #ccc);
    background-size: 200%;
    animation: skeleton 1s infinite;
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}